/**
* style.css
* 
* update : 2014-10-15
* version : 1.0
* author : SHOHE
*/

@import url(http://fonts.googleapis.com/css?family=Denk+One);

/**
*	COMMON
*/
body {
	overflow-x: hidden;
	background: #3d3d3d;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

a, li {
	text-decoration: none;
	list-style: none;
}

/*カテゴリースライドナビ*/
.slidemenu {
  top: 0;
  left: 0;
  width: 240px;
  position: fixed;
  visibility: hidden;
  z-index: -1;
}
.slidemenu .slidemenu-header {
  position: relative;
}
.slidemenu .slidemenu-body {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.slidemenu .slidemenu-content {
  position: relative;
}

.slidemenu-content li{
	width: 100%;
	height: 45px;
	background: #3d3d3d;
	border-bottom: 1px solid #2e2e2e;
	color: #ddd;
	text-align: center;
	line-height: 3.5em;
	font-size: 13px;
	text-align: left;
	padding-left: 15px;
}

.slidemenu-content a {
	text-decoration: none;
}

.slidemenu-header {
	height: 35px;
	background: #2e2e2e;
	color: #7d7d7d;
	font-size: 14px;
	line-height: 2.7em;
	padding-left: 15px;
	font-weight: bold;
}

.slidemenu-content li span {
	margin-left: 120px;
	font-size: 12px;
}

#main {
	background: #fff;
	width: 100%;
	z-index: 1;
}

header {
	height: 50px;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	text-align: center;
	position: fixed;
	/*top: 0;*/
	z-index: 1;
}

header a {
	color: #333;
	font-size: 25px;
	line-height: 2em;
}

header ul li {
	width: 32%;
	height: 50px;
	list-style: none;
	float: left;
}

header ul li:nth-child(3n-1) {
	margin:0 2%;
}

#logo {
	font-family: 'Denk One', sans-serif;
	text-decoration: none;
}

#menu {
	padding-right: 40px;
}

#search {
	padding-left: 40px;
}

#logo:hover, #menu:hover, #search:hover {
	color: #777;
}

#header-spase {
	height: 50px;
	background: #fff;
}

/*記事リスト*/
#myTab {
	margin-top: 20px;
}

#myTab li {
	width: 50%;
	background: #fafafa;
	text-align: center;
}

.article {
	height: 75px;
	width: 100%;
	border-bottom: 1px solid #ddd;
	float: left;
}

.list-img {
	/*height: auto;
	width: 75px;
	margin: 5px 10px 0px 0px;
	float: left;
	position: relative;
	top: -20px;*/
}

.square-trim {
	height: 65px;
	width: 65px;
	margin: 5px 10px 0px 0px;
	float: left;
	background: #aaa;
	overflow: hidden;
}


.a-inline {
	float: left;
	width: 93%;
}

.a-title {
	width: 70%;
	height: 50px;
	float: left;
	font-size: 12px;
	margin-top: 5px;
	color: #333;
	line-height: 1.2em;
	padding-top: 5px;
	font-weight: bold;
}

.a-tag {
	width: 45%;
	height: 15px;
	float: left;
	font-size: 10px;
	color: #aaa;
	line-height: 1.5em;
}

.a-new {
	width: 50px;
	height: 15px;
	background: #fa87e7;
	float: right;
	font-size: 10px;
	color: #fff;
	line-height: 1.2em;
	letter-spacing: 1px;
	text-align: center;
	font-weight: bold;
	border: 1px solid #fa87e7;
}

.a-next {
	width: 20px;
	height: 70px;
	float: left;
	color: #aaa;
	text-align: center;
	padding-top: 29px;
}

#hot, #new {
	padding-top: 10px;
}

.nav-tabs a{
	color: #fa87e7;	
}


/*カテゴリ*/
#category-box {
	height: 200px;
	margin-top: 20px;
}

#category-box h3 {
	line-height: 2.4em;
	color: #666;
	font-weight: bold;
}

#category-box ul li {
	height: 40px;
	width: 50%;
	float: left;
	text-align: center;
	line-height: 2.5em;
}

#category-box ul li a{
	text-decoration: none;
	color: #333;
}

#category-box ul li {
	border-bottom: 1px solid #ddd;
}

.c-left {
	border-right: 1px solid #ddd;
}

#category-box ul li:first-child {
	border-top: 1px solid #ddd;
}

#category-box ul li div{
	height: 40px;
}

#category-box ul li:first-child {
	height: 30px;
	background: #eee;
	width: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
}

/*広告*/
#ad-box {
	height: 300px;
	margin-top: 20px;
	background: #ddd;
	text-align: center;
	line-height: 20em;
}



/*検索*/
#search-box {
	height: 50px;
	padding-top: 1px;
	border-bottom: 1px solid #ddd;
}

.input-group {
	width: 75%;
	margin: 0 auto;
	margin-top: 2px;
}

#inputSearch {
	width: 85%;
	float: left;
}

#inputSbtn {
	height: 34px;
	width: 34px;
	color: #eee;
	background: #fa87e7;
	border-top: 1px solid #fa87e7;
	border-bottom: 1px solid #fa87e7;
	border-right: 1px solid #fa87e7;
}

#inputSbtn i{
	position: relative;
	right: 2px;
}


/*会社*/
#info-box {
	color: #777;
	height: 100px;
	padding-top: 25px;
}

#info-box a{
	color: #777;
	text-decoration: none;
}

#info-up, #info-down {
	height: 40px;
	text-align: center;
	font-size: 10px;
	line-height: 4em;
}

#copy {
	font-size: 9px;
	text-align: center;
	padding-bottom: 10px;
}




/**
*	INDEX
*/
/*トピック記事*/
#topic {
	text-decoration: none;
}

#topic-pic {
	height: 350px;
	width: 100%;
	background: url('../img/test_00.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
}

#topic-pic h4 {
	height: 100px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	top: 210px;
	text-align: left;
	line-height: 1.5em;
	font-size: 13px;
	padding: 20px 10px;
	color: #555;
}



/**
*	ARTICLES
*/
#article-top {
	text-decoration: none;
	position: fixed;
	width: 100%;
	height: 350px;
	z-index: -1;
}

#article-pic {
	height: 350px;
	background: url('../img/test_04.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	-moz-background-size:cover;
	background-size:cover;
}

/*記事*/
#article-wrapper {
	margin-top: 340px;
	width: 100%;
	background: #fff;
}

#article-area {
	padding: 15px;
}

#article-header {
	height: 160px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

#article-header p {
	height: 20px;
	font-size: 12px;
	color: #aaa;
}

#pv {
	float: right;
}

#pv-num {
	font-size: 13px;
	font-weight: bold;
	margin-right: 3px;
	letter-spacing: 1px;
}

#article-header h2 {
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	line-height: 1.5em;
}

#share-icons {
	width: 180px;
	height: 50px;
	margin: 0 auto;
}

#share-icons a{
	width: 50px;
	height: 50px;
	float: left;
	margin: 0px 5px;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

#share-F {
	background: #3B5998;
	font-size: 22px;
	line-height: 2.3em;
}

#share-T {
	background: #55ACEE;
	font-size: 25px;
	line-height: 2em;
}

#share-L {
	background: #1EC221;
	line-height: 3.2em;
}

#write {
	line-height: 1.7em;
}

#write span {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
	border-bottom: 2px solid #fa87e7;
}

#write span:before {
	content: "\A";
  	white-space: pre;
}

#write span:after {
	content: "\A";
  	white-space: pre;
}

.fa-square {
	color: #fa87e7;
	margin-right: 5px;
	font-size: 13px;
}




/*=============*/
#debuger {
	height: 50px;
	width: 100%;
	background: rgba(255,255,255,0.9);
	text-align: center;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	line-height: 3em;
}

#debuger p{
	font-size: 12px;
	font-weight: bold;
	color: #777;
}



/*カテゴリヘッダ*/
#c-header {
	background: #fafafa;
	border-bottom: none;
}

#ch-square-trim {
	height: 75px;
	width: 75px;
	margin: 0px 10px 0px 0px;
	float: left;
	background: #aaa;
	overflow: hidden;
}

.ch-title {
	width: 70%;
	height: 25px;
	float: left;
	font-size: 12px;
	margin-top: 5px;
	color: #333;
	line-height: 1.2em;
	padding-top: 5px;
	font-weight: bold;
}

.ch-tag {
	width: 70%;
	height: 50px;
	float: left;
	font-size: 10px;
	color: #aaa;
	line-height: 1.5em;
}



/*検索ページ*/
#sh-title {
	font-size: 18px;
}

.sh-search-title {
	height: 30px;
	width: 100%;
	background: #fafafa;
	line-height: 2.6em;
	padding-left: 10px;
	font-size: 12px;
	color: #777;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

#sh-search-box {
	height: 50px;
	width: 100%;
	padding-top: 6px;
}

#sh-tag-box {
	height: 200px;
	width: 100%;
	padding: 5px;

}

.tag {
	padding: 6px 7px;
	font-size: 10px;
	color: #999;
	border: 1px solid #ddd;
	float: left;
	margin: 5px 5px;
}

.tag span {
	margin-right: 4px;
	font-weight: bold;
	font-size: 12px;
}



/*お問い合わせ*/
#info-form {
	height: 530px;
	width: 100%;
	padding: 10px;
}

#info-form p {
	font-size: 10px;
	color: #777;
	letter-spacing: 0.8px;
	line-height: 1.4em;
	margin-bottom: 20px;
}

#info-form h3 {
	font-size: 12px;
	font-weight: bold;
	color: #777;
	margin: 5px 5px 5px 0px;
}

#info-form i {
	color: #f498e2;
}

.form-control {
	margin-bottom: 20px;
}

#info-b {
	background: #fa87e7;
	border: 1px solid #fa87e7;
	font-size: 12px;
	line-height: 1.2em;
}




/*about*/
#about01 {
	height: 165px;
	width: 100%;
	padding: 10px;
}


#about01_l {
	height: 165px;
	width: 40%;
	float: left;
	text-align: center;
	line-height: 1.3em;
	letter-spacing: 1px;
	padding-top: 20px;
}

#about01_l img {
	height: 120px;
	width: auto;
	/*background: #ddd;*/
	margin: 0 auto;
	position: relative;
	top: -10px;
}

#about01_r h3{
	margin-bottom: 5px;
	line-height: 1.3em;
}


#about01_r {
	height: 165px;
	width: 60%;
	float: left;
	padding-top: 20px;
}

#about02 {
	height: 385px;
	width: 100%;
	background: #eee;
	text-align: center;
	padding: 20px;
}

#about02 h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

#about02 img {
	height: 120px;
	width: auto;
	/*background: #ddd;*/
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px; 
}


#about03 {
	height: 1050px;
	width: 100%;
	text-align: center;
	padding: 20px;
}

#about03 h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

#about03 .about03_area {
	height: 200px;
	width: 100%;
	/*background: #eee;*/
	margin-bottom: 5px;
	padding-top: 20px;
}

.about03_area img {
	height: 100px;
	width: auto;
	/*background: #ddd;*/
	margin-bottom: 10px;
}

.about03_code {
	height: 120px;
	width: 70%;
	border: 1px solid #dedede;
	background: #fafafa;
	margin: 0 auto;
	margin-bottom: 10px;
	color: #aaa;
	text-align: left;
	padding: 10px;
}

#sample_img {
	height:190px;
	width:auto;
	border: 1px solid #dedede;
	position: relative;
	top: -6px;
}


.introduction {
	height: 100px;
	width: 100%;
	margin-bottom: 1px;
}

.introduction img {
	height: 90px;
	width: 90px;
	float: left;
	margin-top: 5px;
}

.int_inner {
	width: 60%;
	height: 90px;
	margin-top: 5px;
	float: left;
	margin-left: 20px;
	padding: 5px;
	line-height: 1.2em;
	padding-top: 27px;
}

